@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Share Style */
.display-flex {
  display: flex;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 20px auto;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03*/
.text-light-gray {
  color: #727272;
}

.bg-light-color {
  background-color: rgba(255, 144, 14, 0.10);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 20px;
  font-weight: 600px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

/* Header Style */

/* Nav Style */

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  text-decoration: none;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Style */

.banner-content {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-images {
  width: 100%;
  margin-bottom: 30px;
}

/* Team and features */
.teams {
  align-items: center;
}
.teams-images img{
  width: 100%;
}
.teams-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our-features {
  margin-left: 75px;
  max-width: 530px;
}

.quick-list {
  color: #727272;
  font-weight: 500;
}

.of-our {
  color: #131313;
}


/* Features you will love & enjoy */

.features-box{
  gap: 140px;
}
#features-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
}
.feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* Some Facts */
.fact-card{
  border: 1px solid #FF900E;
  border-radius: 3px;
  width: 240px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-description{
  max-width: 540px;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600px;
  margin-top: 10px;
}

/* Our Sponsors */
  .sponsor-info{
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
  }

  .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sponsor-company img{
    filter: grayscale(30%);
  }

/* Reponsive Media Qrery */

@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-links,
  .teams {
    flex-direction: column;
  }

  .banner-content {
    max-width: 100%;
  }

  .teams-images, 
  .facts-container,
  .sponsor-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container{
    gap: 24px;
    justify-items: center;
  }
  .sponsor-company{
    justify-items: center;
    gap: 40px;
  }
  .facts{
    text-align: center;
  }
  .our-features {
    margin: 20px auto;
    text-align: center;
  }
}

/* Medium Size Device */

@media screen and (min-width: 576px) and (max-width:992px) {
  .teams {
    flex-direction: column;
  }
  .fact-info{
    margin-left: 95px;
  }
  .our-features {
    margin: 20px auto;
    text-align: center;
  }
  .sponsor-company,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }
}